---
import useI18N from '@i18n/index';

/*on-submit={() => window.open(
  'about:blank', 'print_popup', 'width=1000,height=800',
)}
method="post"
enc-type="text/plain"*/

const { CONTACT: contact } = useI18N(Astro).main;
---

<form class='md:max-w-lg max-w-96 mx-auto mb-10'>
  <div class='mb-2'>
    <label
      for='name'
      class='block mb-2 text-lg font-medium text-gray-900 dark:text-white/80'
    >
      {contact.NAME_LABEL}
    </label>
    <input
      type='text'
      id='name'
      name='name'
      class='bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      placeholder={contact.NAME_PLACEHOLDER}
      required
    />
  </div>
  {
    /*  <div class="mb-5">
        <label htmlFor="subject" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white/80">Email</label>
        <input
          type="text"
          id="subject"
          name="subject"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="example@example.ex"
          required
        />
      </div> */
  }
  <div class='mb-5'>
    <label
      for='email'
      class='block mb-2 text-lg font-medium text-gray-900 dark:text-white/80'
      >{contact.EMAIL_LABEL}</label
    >
    <input
      type='email'
      id='email'
      name='email'
      class='bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      placeholder={contact.EMAIL_PLACEHOLDER}
      required
    />
  </div>
  <textarea
    id='message'
    name='comment'
    rows={10}
    class='block p-2.5 w-full text-sm md:text-base text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-5'
    placeholder={contact.DETAILS_PLACEHOLDER}></textarea>
  <div class='flex items-center gap-2'>
    <button
      type='submit'
      class='text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
    >
      {contact.SEND}
    </button>
    <a
      href='mailto:ldlizcano@uninorte.edu.co'
      target='_blank'
      rel='noopener noreferrer'
      class='text-sm text-white/50'>ldlizcano@uninorte.edu.co</a
    >
  </div>
</form>

<script>
  document
    .querySelector('form')
    ?.addEventListener('submit', async (e: SubmitEvent) => {
      e.preventDefault();
      const form = e.target;

      if (!form) return;
      if (!(form instanceof HTMLFormElement)) return;

      const data = new FormData(form);
      const response = await fetch('/api/contact', {
        method: 'POST',
        body: data,
      });
      if (response.ok) {
        form.reset();
      }
    });
</script>
