---
import BentoItem from '@components/BentoItem.astro';
import useI18N from '@i18n/index';
// #ff8836
// #4d97ff
const { PROJECTS: proj } = useI18N(Astro).main;
---

<div class='grid grid-cols-12 auto-rows-[7.2rem] gap-4'>
  <a
    class='contents'
    href={proj.eyeland.url}
    target='_blank'
    rel='noopener noreferrer'
  >
    <BentoItem
      class='md:col-span-8 md:row-span-3 lg:row-span-3 [&_h3]:text-3xl [&_h3]:text-[#2acf76]'
      title={proj.eyeland.title}
      imageSrc={proj.eyeland.imageSrc}
      imageAlt={proj.eyeland.imageAlt}
      subtitle={proj.eyeland.role}
      description={proj.eyeland.description}
    />
  </a>
  <a
    class='contents'
    href={proj.parche.url}
    target='_blank'
    rel='noopener noreferrer'
  >
    <BentoItem
      class='md:col-span-4 md:row-span-3 lg:row-span-3 [&_p]:leading-snug [&_h3]:leading-tight [&_h3]:text-[#ff7e3d]'
      title={proj.parche.title}
      subtitle={proj.parche.role}
      imageSrc={proj.parche.imageSrc}
      imageAlt={proj.parche.imageAlt}
      description={proj.parche.description}
    />
  </a>
  <a
    class='contents'
    href={proj.rocket.url}
    target='_blank'
    rel='noopener noreferrer'
  >
    <BentoItem
      class='md:col-span-5 [&_p]:leading-snug [&_p]:text-sm [&_h3]:text-indigo-300'
      title={proj.rocket.title}
      subtitle={proj.rocket.role}
      description={proj.rocket.description}
    />
  </a>
  <a
    class='contents'
    href={proj.simet.url}
    target='_blank'
    rel='noopener noreferrer'
  >
    <BentoItem
      class='md:col-span-7 [&_p]:leading-snug [&_h3]:font-bold [&_h3]:text-[#6ed16b]'
      title={proj.simet.title}
      imageSrc={proj.simet.imageSrc}
      imageAlt={proj.simet.imageAlt}
      subtitle={proj.simet.role}
      description={proj.simet.description}
    />
  </a>
  <a
    class='contents'
    href={proj.bungee.url}
    target='_blank'
    rel='noopener noreferrer'
  >
    <BentoItem
      class='md:col-span-12 [&_h3]:text-2xl [&_p]:leading-snug [&_h3]:text-[#ff7a30]'
      title={proj.bungee.title}
      subtitle={proj.bungee.role}
      imageSrc={proj.bungee.imageSrc}
      imageAlt={proj.bungee.imageAlt}
      description={proj.bungee.description}
    />
  </a>
</div>
