---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import { DEFAULT_LOCALE } from '@i18n/index';
// import { ViewTransitions } from 'astro:transitions';
import LanguagePicker from '@components/LanguagePicker.astro';
import I18NTags from '@components/SEO/I18NTags.astro';
import SocialTags from '@components/SEO/SocialTags.astro';
import '@fontsource-variable/onest';

interface Props {
  title: string;
  description: string;
  keywords?: string;
}

const { title, description, keywords } = Astro.props;

// export const viewPort: Viewport = {
//   themeColor: '#8f7ada',
// };
const local = Astro.currentLocale ?? DEFAULT_LOCALE;
---

<!doctype html>
<html lang={local} class='dark'>
  <head>
    <!-- Description -->
    <meta charset='UTF-8' />
    <title>{title}</title>
    <meta name='title' content={title} />
    <meta name='description' content={description} />
    <meta name='author' content='Leonardo Lizcano' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg?v=2' />
    <meta
      name='keywords'
      content={keywords ??
        'Portfolio, Leonardo Lizcano, LeoLizc, desarrollo web'}
    />
    <!-- Meta -->
    <meta name='robots' content='index, follow' />
    <meta name='theme-color' content='#8f7ada' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <!-- i18n -->
    <I18NTags />
    <!-- Social Tags -->
    <slot name='socials'>
      <SocialTags />
    </slot>
    <!-- <ViewTransitions /> -->
  </head>
  <body
    class='animate-fade animate-duration-[1200ms] animate-delay-[200ms] animate-ease-in-out animate-fill-forwards'
  >
    <div
      class='fixed top-0 bottom-0 z-[-2] min-h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_90%_at_50%_-27%,rgba(120,119,198,0.3),rgba(255,255,255,0))]'
    >
    </div>
    <Header />
    <LanguagePicker />

    <slot />
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        scroll-behavior: smooth;
      }

      body {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 100dvh;
        font-family: 'Onest Variable', sans-serif;
        /* padding: 0.75rem; */
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
